<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  
  <script>
    
    var myApp = angular.module('myApp', []);//create angular app
    
    myApp.controller('ctrl1', function($scope, $http) {//create controller
      
      $scope.title = "Angular POST test";
      $scope.output = "nothing here yet";
      
      //create an empty object
      $scope.form = {};
      
      
      $scope.submit = function() {
        $http ({//send to the server
          url: 'server/1_angular_post.php',//settings are here
          method: 'POST',
          data: $scope.form
        }).then(
          function(response) { //accept response
            //success
            $scope.output = response.data;
          },
          function(response) { //accept response
            //fail
            console.log(response.stauts);
          });//END then()
      };
    });//END myApp.controller
    
    
    
    
    
    
    
    
  </script>
  
  
</head>
<body>
  
  
  <div ng-controller="ctrl1">
    
    <h1>{{ title }}</h1>
    
    <form action="">
      <input type="text"
             name="first_name" 
             ng-model="form.first_name" 
             placeholder="First Name"
      /><br />
             
      <input type="text" 
             name="last_name" 
             ng-model="form.last_name"
             placeholder="Last Name" 
      /><br />
      
      <button ng-click="submit()">submit</button>

    </form>
    
    {{ output }}
    
  </div>
  
  
  
  
  
</body>
</html>