<!DOCTYPE html>
<html lang="en" ng-app="myApp"><!-- <html lang="en" data-ng-app="myApp"> same, but passes HTML validation-->
<head>
  <meta charset="UTF-8">
  <title>hello world</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  
  <script>
    
    var myApp = angular.module('myApp',[]);
    
    myApp.controller('myController', function($scope) { //scope just for this controller
      $scope.title = 'Hello World!'; //title = Hello World!
    });
    
    
    
    
  </script>
  
  
</head>
<body ng-controller="myController"> <!-- <body data-ng-controller="myController"> same, but validates HTML--><!-- everything in body is under controller -->
  
  <h1>{{ title }}</h1> <!-- it is not from <title> tag, it is from $scope.title = -->
  
  
  
  
  
  
  
  
</body>
</html>