<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  
  <script>
    
    //create new app
    var myApp = angular.module('myApp',[]);
    
    //create controller ctrl1
    myApp.controller('ctrl1', function($scope) { //scope just for this controller
      $scope.title = '1 i am the main div';
    });
    
    
    
    //create controller ctrl2
    myApp.controller('ctrl2', function($scope) { //scope just for this controller
      $scope.title = '2 i am the secondary div';
    });
    
    
    
    
  </script>
  
  
  
</head>
<body>
  
  <div id="main" ng-controller="ctrl1"><!-- everything inside div becomes scope -->
    <h1>{{ title }}</h1>
  </div>
  
  
  
  <div id="secondary" ng-controller="ctrl2">
    <h1>{{ title }}</h1>
  </div>
  
  
  
  <h1>{{ title }}</h1><!-- this will not work because h1 is not in any scope -->
  
  
</body>
</html>