<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Two Way Binding</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  
  <script>
    
    //two way binding
    
    var myApp = angular.module('myApp', []);
    
    myApp.controller('main', function($scope) {
      var data = {}; //object to store form data
      $scope.data = data; //put the data object into $scope
      $scope.title = 'two way binding';
      
      $scope.submit = function() { //event handling
        console.log($scope.data);
      };
      
    });
    
    
    
    
    
    
  </script>
  
  
  
</head>
<body>
  
  
  <div ng-controller="main">
    
    <h1>{{ title }}</h1>
    
    <h2>{{ data.first_name}} {{ data.last_name }}</h2> <!-- everything you type in the input, immediately appears here -->
    
    <form>
      <p>
        <input ng-model="data.first_name" type="text" name="first_name" placeholder="First Name" /><br />
        <input ng-model="data.last_name" type="text" name="last_name" placeholder="Last Name" /><br />
        <button ng-click="submit()">submit</button> <!-- when click button, call the function submut() which is defined in $scope.submit-->
      </p>
    </form>
    
    
    
    
    
    
    
  </div>
  
  
  
  
  
</body>
</html>