<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  
  <script>
    
    var myApp = angular.module('myApp', []);
    
    myApp.controller('main', function($scope) {
      $scope.title = 'Directives';
      $scope.user = {};
      $scope.user.name = 'Davey Jones';
      $scope.user.email = 'davey@example.com';
      
      console.log($scope.user);
    });
    
    
    //create a directive
    myApp.directive('myUser', function() {
      return {
        template: '<p>Name: {{ user.name }}<br />Email: {{user.email}}</p>'
      };
    });
    
    
  </script>
</head>

<body>
  
  <div ng-controller="main">
    <h1>{{ title }}</h1>
    
    <div my-user></div><!-- directive 'my-user' -->
    
    
    
  </div><!-- END main -->
  
  
  
  
</body>
</html>