<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  
  <script>
    
    var myApp = angular.module('myApp', []);
    
    myApp.controller('main', function($scope) {
      $scope.title = "Authors";
      $scope.author = {};
      $scope.author.name = 'Brent Weeks';
      $scope.author.country = 'USA';
      $scope.author.image = 'brent_weeks.jpg';
    });
    
    myApp.directive('myAuthor', function() {
      return {
        templateUrl: 'inc/author.inc.html' 
      };
    });
    
  </script>
  
  
</head>
<body ng-controller="main">
  
  <h1>{{ title }}</h1>
  
  
  <div my-author></div>
  
  
  
  
</body>
</html>