<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  
  <script>
    
    var myApp = angular.module('myApp', []);
    
    
    myApp.controller('main', function($scope) {
      $scope.authors = [
        {
          name: 'Frank Herbert',
          country: 'USA',
          image: 'frank_herbert.jpg'
        },
        {
          name: 'Enid Blyton',
          country: 'UK',
          image: 'enid_blyton.jpg'
        },
        {
          name: 'Michael Connelly',
          country: 'USA',
          image: 'michael_connelly.jpg'
        }
      ];
      console.log($scope.authors);
      
    });
    
    
    myApp.directive('myAuthor', function() {
      return {
        templateUrl: 'inc/author.inc.html' 
      };
    });
    
  </script>
  
  
</head>
<body ng-controller="main">
  
  <h1>{{ title }}</h1>
  
  
  <div id="authors" ng-repeat="author in authors">
    <div my-author></div>
  </div>
  
  
  
  
</body>
</html>