<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  
  <script>
    
    var myApp = angular.module('myApp', []);
    
    
    myApp.controller('main', function($scope, $http) { //$http analog of $.ajax()
      $http({
        method: 'GET',
        url: 'server/authors_json.php'
      }).then(
        function(response) {
          //success
          $scope.authors = response.data;
        },
        function(response) {
          //fail
          console.log(response.status);
        }
      );//END .then
      console.log($scope.authors);
    });//END controller
    
    
    /*
    //same as above, but makes code minifieble
    myApp.controller('main', ['$scope', '$http', function($scope, $http) { //$http analog of $.ajax()
      $http({
        method: 'GET',
        url: 'server/authors_json.php'
      }).then(
        function(response) {
          //success
          $scope.authors = response.data;
        },
        function(response) {
          //fail
          console.log(response.status);
        }
      );//END .then
      console.log($scope.authors);
    }]);//END controller
    */
    
    myApp.directive('myAuthor', function() {
      return {
        templateUrl: 'inc/author.inc.html' 
      };
    });
    
  </script>
  
  
</head>
<body ng-controller="main">
  
  <h1>{{ title }}</h1>
  
  
  <div id="authors" ng-repeat="author in authors">
    <div my-author></div>
  </div>
  
  
  
  
</body>
</html>